.dash-layout {
  display: flex;
  height: 100vh;
}

.dash-layout__main {
  flex-grow: 1;
  width: 75vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-y: auto;
  /* overflow-x: hidden; */
  padding: 2rem;
  box-sizing: border-box;
}



.dash-layout__nav {
  width: 25vw;
  background-color: #f5f5f5;
  border-right: 1px solid #ccc;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  justify-content: space-between;
}

.dash-layout__nav h1 {
  margin-top: 0;
  margin-bottom: 1rem;
}

.dash-layout__nav-links {
  margin-bottom: 1rem;
  margin-top: 5rem;
}

.dash-layout__nav-links a {
  display: block;
  margin-bottom: 10px;
  padding: 0.6rem 1rem;
  text-decoration: none;
  color: #333;
  background-color: #eaeaea;
  border-radius: 8px;
  font-weight: 500;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dash-layout__nav-links a:hover {
  background-color: #d4d4d4;
  color: #000;
}

.dash-layout__nav-links a.active {
  font-weight: bold;
  color: #056111;
}

.dash-layout__logout-button {
  align-self: flex-start;
  cursor: pointer;
  padding: 0.5rem 1rem;
  background-color: #056111;
  color: white;
  border: none;
  border-radius: 4px;
}

.dash-layout__logout-button:hover {
  background-color: #034e19;
}

/* .dash-layout__main {
  flex-grow: 1;
  padding: 1rem;
  overflow-y: auto;
} */
