.form-container {
  max-width: 400px;

  padding: 2rem;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-container h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.form-container input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

.form-container button {
  width: 100%;
  padding: 0.75rem;
  /* background-color: #007bff; */
  background-color: #056111;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.form-container button:hover {
  /* background-color: #0056b3; */
   background-color: #034e19;
}

.form-toggle {
  text-align: center;
  margin-top: 1rem;
}

.form-toggle button {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  font-weight: bold;
}

.form-toggle button:hover {
  text-decoration: underline;
}

.error-message {
  color: red;
  text-align: center;
  margin-top: 1rem;
}
