.recommendation-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding: 2rem;
  box-sizing: border-box;

}

.recommendation-page::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-image: url('/energy.jpeg');
  background-size: cover;
  filter: blur(6px);
  z-index: -1;
}

.recommendation-container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 60%;
  max-width: 1000px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  z-index: 1;
}

.hourly-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* 2-3 kolone automatski */
  gap: 1rem;
}

.hourly-item {
  background-color: #f9f9f9;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
}
