/* .stats-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 2rem;
  text-align: center;

  font-family: "Segoe UI", sans-serif;
} */

.stats-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding: 2rem;
  box-sizing: border-box;
  /* position: relative; */
}

.stats-page::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-image: url('/energy.jpeg');
  background-size: cover;
  filter: blur(6px);
  z-index: -1;
}


.stats-page__container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 60%;
  max-width: 1000px;
  /* margin-left: 80%; */

  display: flex;
  flex-direction: column;  
  align-items: center;     
  justify-content: center; 

  height: 100%;             
  box-sizing: border-box; 
}


.stats-page__title {
  margin-bottom: 1.5rem;
  color: #333;
}

.stats-page__content {
  margin-bottom: 2rem;
}

.stats-page__buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.stats-page__button {
  padding: 0.5rem 1rem;
  background-color: #98cc9f;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 1rem;
}

.stats-page__button:last-child {
  margin-right: 0;
}

.stats-page__button:hover {
  background-color: #034e0d;
}
